.shopgrid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopgrid-paginate {
    display: flex;
    justify-content: center;
}

.shopgrid-paginate__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    color: rgb(160, 160, 160);
    transition: background-color 0.4s ease;
    margin: 0 10px;
}

.shopgrid-paginate__btn:hover {
    background-color: #0d6efd;
    color: white;

}

.default-content-filter {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    padding: 10px 5%;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
    color: #888;
    background-color: white;
}

.shop-select select {
    border: 1px solid #ebebeb;
    padding: 2px 15px;
    line-height: 24px;
    margin: 0;
    background: #f7f7f7;
    border-radius: 30px;
    color: #47494a;
    text-align: left;
}

option {
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.shop-product {
    margin: 0;
    color: #888;
    font-weight: 400;
    padding-right: 20px;
}

.display-icon i {
    padding-right: 20px;
    font-size: 16px;
    color: #888;
    cursor: pointer;

}

.display-icon {
    display: flex !important;
    flex-direction: row !important;
}

.active {
    color: #0d6efd !important;
}

.shopgrid-wrapper {
    margin-top: 100px;
}

.shop-display {
    display: flex !important;
    justify-content: center !important;
}

@media (max-width: 991.98px) {
    .shopgrid-wrapper {
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .grip {
        display: none;
    }
}