
.container {
    width: 80%;
    margin: auto;
  }

  .to-top {
    position: sticky;
    bottom: 40px;
    width: 100px;
    height: 50px;
    left: 95%;
    cursor: pointer;
  }
  
  .to-top i {
    background-color: #266cfb;
    padding: 15px;
    color: white;
    border-radius: 50%;
  }