:root {
  --primary-green-color-1: #01b636;
  --primary-green-color-2: #3bd16f;
  --primary-green-color-3: #74e39a;
  --primary-gray-color-1: #e3e3e3;
  --primary-gray-color-2: #989898;
}

* {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none !important;
}

.primary-hr {
  border-top: 5px solid var(--primary-green-color-1);
  opacity: 1;
}

.btn-outline-success {
  color: var(--primary-green-color-1) !important;
  border-color: var(--primary-green-color-1) !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  background-color: var(--primary-green-color-1) !important;
}

.btn-success {
  background-color: var(--primary-green-color-1) !important;
  border: none !important;
}

.btn-success:hover {
  opacity: 0.8;
}

@media (max-width: 767.98px) {}